@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

/*---------- HEADER ----------*/
header {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 28px 1em;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link img {
    width: 100%;
    height: auto;
}

.btn-nav {
    border: transparent;
    background: transparent;
    color: #3e3939;
    font-size: 1.5rem;
}

.btn-rotation {
    transform: rotate(90deg);
}

.nav-links {
    display: none;
}

.nav-open {
    display: flex;
    flex-direction: column;
}

.nav-link {
    font-family: "Poppins", serif;
    list-style: none;
    margin: 20px 0;
    border-bottom: 2px solid #3e3939;
    width: 8rem;
}

.none-border {
    border-bottom: 0;
}

.nav-link a {
    color: #3e3939;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
}

a:hover {
    opacity: 0.5;
}

/*----------- FOOTER ----------*/
footer {
    border-top: #3e3939 5px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100px;
}

.footer-contenedor {
    display: flex;
    align-items: center;
}

.footer-contenedor__logo img {
    object-fit: contain;
    width: 150px;
    height: auto;
}

.footer-contenedor p {
    margin: 10px 0px 0px 30px;
    font-family: sans-serif;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.logo-red__social {
    object-fit: contain;
    width: 35px;
    height: auto;
    margin-right: 20px;
}

/*---------- HOME ----------*/
.main-home {
    font-family: "Poppins", serif;
}

.main-home .home-info {
    display: flex;
    height: 15rem;
    margin: 4rem 0;
    background-color: #F3F3F3;
}

.home-info div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.home-info img {
    object-fit: cover;
    width: 100%;
}

/*---------- PRODUCTOS -----------*/
.list-categorys {
    background-color: #3e3939;
    font-family: "Poppins", serif;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;
    padding: 10px 0;
    width: 200px;
}

.list-categorys li {
    width: 60%;
    text-align: center;
    padding-bottom: 5px;
    margin: 5px 0;
    border-bottom: 2px solid #fff;
}

.list-categorys a {
    color: #fff;
    text-decoration: none;
}

.container-cards {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    width: 10em;
    height: 21em;
    border: 2px solid #3e3939;
    border-radius: 5px;
    box-shadow: 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 10px 0;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card-img img {
    width: 40px;
    height: auto;
    display: block;
    margin: auto;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card-description {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.card-productName {
    font-size: 20px;
    font-weight: 500;
}

.card-milliliters {
    font-size: 14px;
    font-weight: 400;
}

.card-divider {
    width: 100%;
    border-radius: 50px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.card-price {
    font-size: 20px;
    font-weight: 500;
}

/*---------- FORM INICIO SESION Y ADMINISTRAR ----------*/
.form {
    background-color: #fff;
    display: block;
    margin-top: 10px;
    padding: 1em;
    width: 350px;
    border-radius: 0.5rem;
    border: 2px solid #3e3939;
    font-size: 1em;
}

.form-type {
    display: flex;
    justify-content: space-between;
}

.form-title {
    margin-bottom: 1em;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.form-input__container input,
.form button {
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

.form-input__container input,
.form-select__conteiner select {
    background-color: #fff;
    padding: 1em 0;
    font-size: 0.875rem;
    width: 100%;
    border-radius: 0.5rem;
}

.select-width select {
    border: 1px solid #e5e7eb;
    margin: 8px 0;
    width: 25%;
    text-align: center;
}

.form-submit {
    display: block;
    padding: 0.75em;
    background-color: #3e3939;
    color: #ffffff;
    line-height: 1.25rem;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.noMostrar {
    display: none;
}

/*---------- INICIO SESION ----------*/
.main-form__inicioSesion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 30px;
}

/*---------- ADMINISTRAR ----------*/
.main-administrar,
.tabla-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.administrar-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
    margin-bottom: 1em;
    text-align: justify;
}

.logo-info {
    border: 3px solid #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.tabla-container {
    margin: 0 10px;
}

.tabla-container h3 {
    margin: 1em;
    text-align: center;
    font-size: 2em;
}

.tabla-container p {
    margin-bottom: 1em;
    text-align: center;
}

table {
    font-family: sans-serif;
    font-size: 0.8em;
    border-collapse: collapse;
}

thead {
    background-color: #3e3939;
    color: #fff;
}

th,
td {
    text-align: left;
    padding: 10px 5px;
}

tbody tr:nth-child(even) {
    background-color: #B8B8B8;
}

/*--------- ERROR 404 PAGE ----------*/
.main-errorPage {
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: "Poppins", serif;
    background-color: #1b1f22;
    color: #fff;
}

.errorPage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errorPage-info {
    padding: 0.6em;
}

.errorPage-info p {
    margin: 10px 0;
}

.errorPage-container__title {
    font-size: 2em;
}

.errorPage-info a {
    padding: 0.6em;
    border-radius: 5px;
    background-color: #c6a153;
    color: #fff;
    text-decoration: none;
}

.errorPage-container__number {
    font-size: 3em;
    padding: 0.7em;
    border-right: 2px solid #c6a153;
}

@media only screen and (min-width: 768px) {

    /*---------- HEADER ----------*/
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .btn-nav {
        display: none;
    }

    .nav-links {
        display: inline;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
    }

    .nav-link {
        margin: 10px;
        text-align: center;
        border-bottom: 0;
        width: auto;
    }

    .nav-link a {
        text-transform: uppercase;
    }

    .nav-link a:hover {
        font-weight: bolder;
        color: #3e3939;
        border-bottom: 4px solid #3e3939;
    }

    /*---------- HOME ----------*/
    .main-home .home-info {
        height: 20rem;
    }

    .home-info div {
        font-size: 1rem;
    }

    /*---------- PRODUCTOS ----------*/
    .container-cards {
        justify-content: center;
    }

    .card {
        margin: 10px;
    }

    /*---------- ADMINISTRAR ----------*/
    .administrar-info {
        width: 50%;
    }

    /*--------- ERROR 404 PAGE ----------*/
    .errorPage-container__number {
        padding: 1em;
        ;
    }

    .errorPage-info a {
        width: 40%;
    }
}